json test test
Vtype
V_pt
V_eta
V_phi
V_mass
HLT_BIT_HLT_Ele17_Ele12_CaloIdL_TrackIdL_IsoVL_DZ_v
HLT_BIT_HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_v
HLT_BIT_HLT_Mu17_TrkIsoVVL_TkMu8_TrkIsoVVL_v
met_pt
met_phi
met_sumEt
nselLeptons
selLeptons_charge
selLeptons_pt
selLeptons_eta
selLeptons_phi
selLeptons_pfRelIso04
nJet
Jet_pt
Jet_eta
Jet_phi
Jet_mcFlavour
Jet_btagCSV
Jet_vtxMass
